 {% extends 'dashboard_base.html.twig' %}
    {% block onglet %}Magazin{% endblock %}

    {% block body %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Liste des Magazins</h4>
                    </div>
                    <div class="card-header">
                        <h6 class="card-title"><a href="{{ path('ajouterMagazin') }}" style="color:#0000F0">Ajouter Magazin</a></h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>id_magazin</th>
                                <th>capacity</th>
                                <th>location</th>
                                <th>category</th>
                                <th>modify</th>
                                <th>delete</th>
                                <th>affect</th>

                                </thead>
                                <tbody>
                                {% for m in magazin %}
                                    <tr>
                                        <td>{{ m.idMag }}</td>
                                        <td>{{ m.capacity }}</td>
                                        <td>{{ m.location }}</td>
                                        <td>{{ m.category.libelle }}</td>
                                        <td><a href="{{ path('magazin_modif',{ 'id_mag' : m.idMag }) }}" style="color:#00ad5f">modifier</a></td>
                                        <td><a href="{{ path('magazin_supp',{ 'id_mag' : m.idMag }) }}" style="color:#FF0000">supprimer</a></td>
                                        {% if m.magazinier == null %}
                                        <td><a href="{{ path('magazin_affecter',{ 'id_mag' : m.idMag }) }}" style="color:#0000F0">affecter</a></td>
                                    {% else %}
                                            <td> affected to {{ m.magazinier.nom }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
        {% endblock %}
