{% extends "dashboard_base.html.twig" %}

{% block title %}ArticleBundle:Article:Ajout{% endblock %}

{% block body %}

    <h1>All Articles</h1>
    {% if articles is not empty %}
        <table style="    margin: auto;">
            <thead>
            <tr>
                <th>Articles ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Lablel</th>
                <th>Article Description</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>


                    <td>{{ article.name }}</td>
                    <td>{{ article.prix  }}</td>
                    <td>{{ article.quantity }}</td>
                    <td>{{ article.libelle }}</td>
                    <td>{{ article.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No article found.</p>
    {% endif %}

    <br/>
    <a href="/create-article">Create New</a>
{% endblock %}
