<style>
    th, td {
        padding: 10px;
    }
    th {
        text-align: left;
    }
</style>

<h1>All Articles</h1>
{% if articles is not empty %}
    <table>
        <thead>
        <tr>

            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Lablel</th>
            <th>Article Description</th>
            <th>Panier</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>id_article	name	prix			libelle


                <td>{{ article.name }}</td>
                <td>{{ article.prix  }}</td>
                <td>{{ article.quantity }}</td>
                <td>{{ article.libelle }}</td>
                <td>{{ article.description }}</td>
                <td><a href="{{ path('', {'id': article.id } )}}">panier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No article found.</p>
{% endif %}

<br/>
<a href="{{ path('create_article') }}">Create New</a>