{% extends "dashboard_base.html.twig" %}

{% block title %}ArticleBundle:Article:Ajout{% endblock %}

{% block body %}
<div class="main-panel ps-container ps-theme-default ps-active-y">
    <h1 class="card-title">All Articles</h1>
    <div class="col-md-12">
        <div class="card card-user">
    {% if articles is not empty %}
        <div class="table-responsive table-upgrade">
        <table class="table" style="margin: auto;">
            <thead>
            <tr>
                <th>Articles ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Lablel</th>
                <th>Article Description</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>

                    <td>{{ article.idArticle }}</td>
                    <td>{{ article.name }}</td>
                    <td>{{ article.prix  }}</td>
                    <td>{{ article.quantity }}</td>
                    <td>{{ article.libelle }}</td>
                    <td>{{ article.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No article found.</p>
    {% endif %}
        <a href="/article/create-article" target="_blank" class="btn btn-primary btn-round">Create New</a>
    </div>
    </div>
    <br/>
    </div>


</div>
{% endblock %}
