{% extends "dashboard_base.html.twig" %}

{% block title %}Update article{% endblock %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">update an Article:</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="col-md-12">
                            <div class="card card-user">

                                <div class="card-body">
                                    <form method="post" action="{{ path('show-articles') }}" novalidate enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-5 pr-1">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-md-3 px-1">
                                                <div class="form-group">
                                                    <label>Price</label>
                                                    {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-md-4 pl-1">
                                                <div class="form-group">
                                                    <label for="Quantity">Quantity</label>
                                                    {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Label</label>
                                                    {{ form_widget(form.label, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Description</label>
                                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="update ml-auto mr-auto">
                                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-round'}}) }}
                                            </div>
                                        </div>
                                    </form>
                                    {{ form_end(form) }}
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}
