
<style>
    th, td {
        padding: 10px;
    }
    th {
        text-align: right;
    }
</style>

<h1>Article Created or Modified</h1>

<table>
    <tbody>
    <tr>
        <th>Name:</th>
        <td>{{ article.name }}</td>
    </tr>
    <tr>
        <th>Price:</th>
        <td>{{ article.prix }}</td>
    </tr>
    <tr>
        <th>quantity:</th>
        <td>{{ article.quantity }}</td>
    </tr>
    <tr>
        <th>Label:</th>
        <td>{{ article.libelle }}</td>
    </tr>
    <tr>
        <th>Description:</th>
        <td>{{ article.description }}</td>
    </tr>
    </tbody>
</table>

<br/>
<a href="/show-articles">View All</a> -
<a href="/update-article/{{ article.id }}">Modify</a>