{% extends "dashboard_base.html.twig" %}

{% block title %}View article {% endblock %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">View article {{ article.name }}</h1>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="card card-user">
                                <div class="card-header">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Price
                                            </th>
                                            <th>
                                                quantity
                                            </th>
                                            <th>
                                                image
                                            </th>

                                            <th>
                                                Label
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Rating
                                            </th>
                                            </thead>
                                            <tbody>

                                            <tr>
                                                <td>
                                                    {{ article.name }}
                                                </td>
                                                <td>{{ article.price }}<b>TND</b></td>
                                                <td>{{ article.quantity }}</td>
                                                <td>
                                                    <img src="{{ asset('images/' ~ article.image) }}" alt="" style="width: 100px;">

                                                </td>
                                                </td>


                                                <td>{{ article.label }}</td>


                                                <td>{{ article.description }}</td>

                                                <td>{{ article.rating }}</td>
                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>

                                    <br/>
                                    <a href="{{path('show-articles')}}" class="btn btn-primary btn-round">View All</a><br>
                                    <a href="{{ path('update-article',{'id': article.idArticle}) }}" class="btn btn-primary btn-round">Update</a>
                                    <a href="{{ path('delete_article',{'id': article.idArticle}) }}" target="_blank" class="btn btn-primary btn-round">delete</a>

                                </div>
                            </div>
                        </div>

                        <br/>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
