{% extends "dashboard_base.html.twig" %}

{% block title %}View article {% endblock %}

{% block body %}
<div class="main-panel ps-container ps-theme-default ps-active-y">
    <div class="col-md-12">
        <h1 class="card-title">View article {{ article.name }}</h1>
        <div class="card card-user">
        <div class="card-header">


    <table>
        <tbody>
        <tr>
            <th>Name:</th>
            <td>{{ article.name }}</td>
        </tr>
        <tr>
            <th>Price:</th>
            <td>{{ article.prix }}</td>
        </tr>
        <tr>
            <th>quantity:</th>
            <td>{{ article.quantity }}</td>
        </tr>
        <tr>
            <th>Label:</th>
            <td>{{ article.libelle }}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ article.description }}</td>
        </tr>
        </tbody>
    </table>

    <br/>
    <a href="/article/show-articles" class="btn btn-primary btn-round">View All</a><br>
            <a href="/article/Delete-article/{{ article.idArticle }}" target="_blank" class="btn btn-primary btn-round">delete this Article</a>
        </div>
    </div>
</div>
</div>
{% endblock %}

