
<!DOCTYPE html>
<html>
<title></title>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<br>
<div class="container">
    <img src="{{asset('dashboard/assets/img/logo.png')}}" style="width: 95px;height: 100px">
</div>
<div class="container" style="text-align: center">
    <h1>Accès au compte</h1>
    <h6>Bienvenue au sein de notre equipe</h6>
    <br><br><br><br>
    <p><strong>Nom et prénom: </strong> {{nom}} {{prenom}}</p>
    <p><strong>Nom d'utilisateur: </strong> {{username}}</p>
    <p><strong>Mot de passe: {{pwd}}</strong></p>
    <br><br><br><br>
    <p style="font-size: 13px; background-color: #ff9594">NB: Changer votre mot de passe aprés votre 1ére connexion</p>
</div>
</body>
</html>
