


{% extends "dashboard_base.html.twig" %}
{% block title %}Show Categories{% endblock %}
{% block body %}

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">All Categories</h1>
                    </div>
                    <div class="card-body">

                        <div class="col-md-12">
                            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

                            <div class="card card-user">
                                <div class="card-header">
                                    <div class="table-responsive">

                                        {% if category is not empty %}
                                            <table class="table">
                                                <thead class=" text-primary">
                                                <th>category ID</th>
                                                <th>Label</th>
                                                <th>Products</th>
                                                <th>Update</th>
                                                <th>Delete</th>
                                                </thead>
                                                <tbody>
                                                {% for c in category %}
                                                    <tr>
                                                        <td>{{ c.IdCategory}}</td>

                                                        <td>{{ c.label }}</td>
                                                        <td>  {% if Article is not empty %}
                                                                {% for a in Article %}
                                                                    {% if a.label == c.label %}
                                                                        <p>{{ a.description }}</p>
                                                                    {% endif %}
                                                                {% endfor %}

                                                            {% else %}
                                                                <p>No Articles found for this category</p>
                                                            {% endif %}
                                                        </td>
                                                        <td><a href="{{ path('update-category',{'id': c.IdCategory}) }}" style="color:#00ad5f">Update</a></td>
                                                        <td><a href="{{ path('delete_category',{'id': c.IdCategory}) }}" style="color:#FF0000">Delete</a></td>

                                                    </tr>

                                                {% endfor %}


                                                </tbody>
                                            </table>
                                        {% else %}
                                            <p>No categories found.</p>
                                        {% endif %}
                                    </div>

                                    <br/>
                                    <a href="{{ path('create_category') }}" class="btn btn-primary btn-round">Create New</a>
                                </div>
                            </div>
                        </div>

                        <br/>


                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock %}
