{% extends "dashboard_base.html.twig" %}

{% block title %}View Category {% endblock %}

{% block body %}
<div class="content">
    <div class="row">
        {% if category is not empty %}
        <div class="col-md-12">
            <div class="card">

                <div class="card-header">
                    <h1 class="card-title">View Category : {{ category.label }}</h1>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card card-user">
                            <div class="card-header">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <th>
                                            Id
                                        </th>
                                        <th>
                                            Label
                                        </th>
                                        <th>
                                            Articles
                                        </th>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <td>
                                                {{ category.idCategory }}
                                            </td>
                                            <td>
                                                {{ category.label }}
                                            </td>
                                            <td>

                                                {% if form is not empty %}
                                                    {% for forms in form %}
                                                        <p>{{ forms.name }}</p>

                                                    {% endfor %}

                                                {% else %}
                                                    <p>No Articles found for this category</p>
                                                {% endif %}
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <br/>
                                <a href="{{ path('show-category') }}" class="btn btn-primary btn-round">View All categories </a><br>
                                <a href="{{ path('delete_category',{'id': category.idCategory}) }}" target="_blank" class="btn btn-primary btn-round">Delete this Category</a>
                                <a href="{{ path('update-category',{'id': category.idCategory}) }}" target="_blank" class="btn btn-primary btn-round">Update this Category</a>

                            </div>
                        </div>
                    </div>

                    <br/>


                </div>
            </div>
            {% else %}
                <p>No Categoy found.</p>
            {% endif %}
        </div>

    </div>

    {% endblock %}
