{% extends 'homepage.html.twig' %}
{% block title %}Reclamation{% endblock %}

{% block body %}

    <!-- MESSAGE BOX SECTION START -->
    <div class="message-box-section mt--50 mb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="message-box box-shadow white-bg">
                        <form id="contact-form" action="#" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="blog-section-title border-left mb-30">Send Reclamation</h4>
                                </div>
                                {{ form_start(form) }}

                                <div class="col-md-12">
                                    <label>Subject</label>

                                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}

                                </div>

                                <div class="col-md-12">
                                    <label>Message</label>
                                    {{ form_widget(form.message, {'attr': {'class': 'form-control= textarea'}}) }}
                                    {{ form_widget(form.Submit, {'attr': {'class': 'submit-btn-1 mt-30 btn-hover-1'}}) }}

                                </div>
                                {{ form_end(form) }}
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MESSAGE BOX SECTION END -->
    </section>
{% endblock %}
