<table border="2">
    <tr>
        <th>matriculation</th>
        <th>nature</th>
        <th>capacity</th>
        <th>category</th>
        <th>supprimer</th>
        <th>modifier</th>

    </tr>
    {% for f in fleet %}
    <tr>
        <td>{{ f.matriculation }}</td>
        <td>{{ f.nature }}</td>
        <td>{{ f.capacity }}</td>
        <td>{{ f.category }}</td>
        <td><a href="{{ path('fleet_supp',{ 'matriculation' : f.matriculation }) }}">supprimer</a></td>
        <td><a href="{{ path('fleet_modif',{ 'matriculation' : f.matriculation }) }}">modifier</a></td>

    </tr>
{% endfor %}