{% extends 'dashboard_base.html.twig' %}
    {% block onglet %}Fleet{% endblock %}

    {% block body %}
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Liste des Fleets</h4>
                        </div>
                        <div class="card-header">
                            <h6 class="card-title"><a href="{{ path('ajouterFleet') }}" style="color:#0000F0">Ajouter Fleet</a></h6>
                        </div>
{{ form_start(form) }}
                        <div class="form-control">

                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label for="Quantity">Category</label>
                                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label for="Quantity">Nature</label>
                                    {{ form_widget(form.nature, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            {{ form_widget(form.search, {'attr': {'class': 'btn btn-primary btn-round'}}) }}
                        </div>
                        {{ form_end(form) }}
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th>matriculation</th>
                                    <th>capacity</th>
                                    <th>nature</th>
                                    <th>category</th>
                                    <th>date de mise en circulation</th>
                                    <th>images</th>


                                    </thead>
                                    <tbody>
                                    {% for f in fleet %}
                                        <tr>
                                            <td>{{ f.matriculation }}</td>
                                            <td>{{ f.capacity }}</td>
                                            <td>{{ f.nature.libelle }}</td>
                                            <td>{{ f.category.libelle }}</td>
                                            <td>{{ f.date|date('Y-m-d') }}</td>
                                            <td><img src="{{ asset('images/' ~ f.image) }}" alt="" width="90px"></td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {{ form(form) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}
